.class_1 {
	background: transparent url(../class_icons/class_1.png) left center no-repeat;
	padding-left: 20px; 
}

.class_2 {
	background: transparent url(../class_icons/class_2.png) left center no-repeat;
	padding-left: 20px; 
}

.class_3 {
	background: transparent url(../class_icons/class_3.png) left center no-repeat;
	padding-left: 20px; 
}

.class_4 {
	background: transparent url(../class_icons/class_4.png) left center no-repeat;
	padding-left: 20px; 
}

.class_5 {
	background: transparent url(../class_icons/class_5.png) left center no-repeat;
	padding-left: 20px; 
}

.class_6 {
	background: transparent url(../class_icons/class_6.png) left center no-repeat;
	padding-left: 20px; 
}

.class_7 {
	background: transparent url(../class_icons/class_7.png) left center no-repeat;
	padding-left: 20px; 
}

.class_8 {
	background: transparent url(../class_icons/class_8.png) left center no-repeat;
	padding-left: 20px; 
}

.class_9 {
	background: transparent url(../class_icons/class_9.png) left center no-repeat;
	padding-left: 20px; 
}

.class_11 {
	background: transparent url(../class_icons/class_11.png) left center no-repeat;
	padding-left: 20px; 
}