.class_wow_warrior {
	background: transparent url(../class_icons/wow_warrior.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_paladin {
	background: transparent url(../class_icons/wow_paladin.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_priest {
	background: transparent url(../class_icons/wow_priest.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_shaman {
	background: transparent url(../class_icons/wow_shaman.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_mage {
	background: transparent url(../class_icons/wow_mage.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_warlock {
	background: transparent url(../class_icons/wow_warlock.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_death_knight {
	background: transparent url(../class_icons/wow_death_knight.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_druid {
	background: transparent url(../class_icons/wow_druid.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_rogue {
	background: transparent url(../class_icons/wow_rogue.png) left center no-repeat;
	padding-left: 20px; 
}

.class_wow_hunter {
	background: transparent url(../class_icons/wow_hunter.png) left center no-repeat;
	padding-left: 20px; 
}